body{
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
    font-size: medium;
    background-color: blanchedalmond;
}
header{
    font: Arial, Helvetica, sans-serif;
    color:blue;
    font-size: medium;
    background-color: blanchedalmond; 
    text-align: center;
}
.column1{
    font: Arial, Helvetica, sans-serif;
    color: black;
    font-size: medium;
    background-color: blanchedalmond; 
}
.column2{
    font: Arial, Helvetica, sans-serif;
    color: black;
    font-size: medium;
    background-color: blanchedalmond; 
}
.column3{
    font: Arial, Helvetica, sans-serif;
    color: black;
    font-size: medium;
    background-color: blanchedalmond; 
}
.column4{
    font: Arial, Helvetica, sans-serif;
    color: black;
    font-size: medium;
    background-color: blanchedalmond; 
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: medium;
    background-color: blanchedalmond;
    text-align: center;
}
